<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OpenSky</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="header">
      <img
        src="{{ url_for('static', filename='logo.png') }}"
        class="logo-img"
      />
      <h1 class="heading hide-on-mobile">OPEN SKY RESORT</h1>
      <img
        src="{{ url_for('static', filename='mangalam.png') }}"
        class="logo-img hide-on-mobile"
      />
    </div>
    <div class="main-wrapper">
      <div class="upload-area" id="uploadArea">
        <form id="uploadForm" enctype="multipart/form-data">
          <input
            type="file"
            name="file"
            id="fileInput"
            accept="image/*"
            multiple
            required
          />
          <p class="gowun-batang-bold">
            Drag & drop a file here or click to select files
          </p>
        </form>
        <div id="loader" class="loader" style="display: none"></div>
        <div id="result" class="upload-details"></div>
      </div>
      <button
        type="button"
        id="uploadButton"
        class="submit-btn gowun-batang-regular"
      >
        Upload
      </button>
    </div>
    <div class="footer">
      <p>© 2024 OpenSky Resort</p>
    </div>

    <div id="result"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
